section,
article {
  background-color: aqua;
  border: 1px solid red;
}
section {
  width: 100px;
  height: 100px;
  background-color: salmon;
  margin: 1rem;
}
/* descendant selector */

#container section {
  /* background-color: darkblue; */
}

/* Direct child */

#container > section {
  /* background-color: red; */
}

/* General Sibling */

.article-section ~ section {
  /* background-color: violet; */
}

/* adjacent sibling */

.article-section + section {
  /* background-color: green; */
}

/* OR selector */

article,
section {
  /* background-color: red; */
}

/* AND selector */

section.article-section {
  background-color: aquamarine;
}
